*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    max-width: 100%;
}

body {
    height: 200px;
   background-color: #9c2828;;
    background-attachment: fixed;
    background-size: 100% 100%;  
}

h1 {
    font-size: 40px;
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#id{
    background-color: #ffffff;
    border-style: none;
}

.intoMoney {
    margin-top: 30px;
    margin-left: 25px;
}

.container{
    width: 500px;
    height: 650px;
    background-image: linear-gradient(to bottom,#ececec, #fff );
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(177, 173, 173, 0.75);
    text-align: center;
    padding: 10px 20px;
    overflow:auto;
    margin-left: 450px;
    display: inline-block;
    box-shadow: 10px whitesmoke;
}

.container1 {
    width: 400px;
    height: 650px;
    background: white;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px 20px;
    overflow:auto;
    display: inline-block;
    margin-left: 50px;
}

.cart{
    width: 250px;
    height: 400px;
    background: white;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px 20px;
    overflow:auto;
     float: right;
    margin-right: 65px ;
} 

.cart1 {
    color: #eb3e32;
}

#cart {
    font-size: 20px;
}

 #cart:hover {
    color: #eb3e32;
    cursor: pointer;
} 

.container2 {
    float: right;
    margin: 50px auto;
    margin-left: 65px;
    background-color: #fff;
    width: 500px;
 } 


.search {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom: 20px;

}

.search input {
    width: 100%;
    font-weight: bold;
    border: none;
    outline: none;


}

.search i {
    color: #333;
    padding: 5px;
   
}

.product{
    display: flex;
    height:80px;
    margin-top: 25px;
    border-radius: 10px;
    
}

.product img {
    width: 80px;
    object-fit: cover;
    margin-right: 10px;
}
.product .info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.product .name, .product .price {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#product1 .name, #product1 .price {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.product .name{
    font-weight: bold;
}
.product:hover {
    background: #dadada;
}
.type {
    color: red;
}
.hide{
    display:none;
}

.btn-change {
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #ffffff;
    width: 20px;
    height: 28px;
}

.btn-change:hover {
    cursor: pointer;
}

#amountProduct {
    display: flex;
    width: 25px;
    text-align: center;
    height: 15px;
    /* border: 1px solid #e6e6e6; */
    outline: none;
    margin-left: -40px;
}

.amountProduct {
    width: 25px;
    text-align: center;
    height: 28px;
    border: 1px solid #e6e6e6;
    border: none;
    outline: none;
    font-size: 15px;
}

#product1 {
    display: flex;
    height: 80px;
    margin-top: 25px;
    border-radius: 10px;
    width: 350px;
}

#totalMoney {
    margin-top: 40px;
    margin-left: 150px;
}

#totalMoney span {
    margin-left: 50px;
    color: #eb3e32;
}

#id{
    background-color: #ececec;
}